body{
    overflow-x: hidden;
}
.bgimage{
    background-image: url( "Design/Assets/SVG/Merged bar-1.svg ");
}
.index_p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 30px;
    color: #7F7F7F;
}