nav{
    background-image:url(./Design/Assets/SVG/back.svg) ;
}
.para{
    background-image:url(./Design/Assets/SVG/Merged\ bar-10.svg);
}
.lara{
background-image:url(./Design/Assets/SVG/En\ chiffres-1.svg ) ;
}   
