body{
    font-family: 'Cairo', sans-serif !important;
    font-weight: bold;
    font-size: large;

}
label{
    color: #1078AD!important;
    
}
.bg-c{
    background: #1078AD !important;

}
input{
	border: 3px solid #1078AD;
    color: #1078AD ;
}
button:hover{
    background: #1078AD !important;
    color: aliceblue;
    font-family: 'Cairo', sans-serif !important;

}
.prg1med{
    background: #F4CF1B;
   border-radius: 8px;

}
.btnquiz{
    background-color: #1079ad6c !important;
    color:#1079ad;
    border-radius: 10px;
    padding: 14px;
    font-weight: bold;
}
.card-text{
    color: #707070;
    font-size: 41PX;
}
input::placeholder{
    color: #1079ad93 ;
    font-weight: bold;
}